	
	<% title = 'Lolfire' %>

		<% include header.html %>

	</head>

	<body>
		
		<% active = 'index' %>
		<% include navbar.html %>

		<div class="container text-center search_container">
			<img src="/static/images/logo_black.png" width="200px">
			<div class="search_summoner">
				<form class="form-inline" role="form" action="/search" method="get">
					<div class="form-group">
						<select name="region" class="form-control btn-primary" id="region">
							<option value="euw">EUW</option>
							<option value="eune">EUNE</option>
							<option value="na">NA</option>
						</select>
					</div>
					<div class="form-group">
						<input class="form-control" type="search" name="summoner" placeholder="Summoner name" required>
        			</div>
					<button type="submit" class="btn btn-default">Search <span class="glyphicon glyphicon-search"></span></button>
				</form>
			</div>
		</div>

	</body>
</html>