<% title = summoner.name %>
<% include header.html %>

<% 

function timeAgo(time, local){
 
	(!local) && (local = Date.now());
 
	if (typeof time !== 'number' || typeof local !== 'number') {
		return;
	}
 
	var
		offset = Math.abs((local - time)/1000),
		span   = [],
		MINUTE = 60,
		HOUR   = 3600,
		DAY    = 86400,
		WEEK   = 604800,
		MONTH  = 2629744,
		YEAR   = 31556926;
		DECADE = 315569260;
 
	if (offset <= MINUTE)              span = [ '', 'moments' ];
	else if (offset < (MINUTE * 60))   span = [ Math.round(Math.abs(offset / MINUTE)), 'min' ];
	else if (offset < (HOUR * 24))     span = [ Math.round(Math.abs(offset / HOUR)), 'hr' ];
	else if (offset < (DAY * 7))       span = [ Math.round(Math.abs(offset / DAY)), 'day' ];
	else if (offset < (WEEK * 52))     span = [ Math.round(Math.abs(offset / WEEK)), 'week' ];
	else if (offset < (YEAR * 10))     span = [ Math.round(Math.abs(offset / YEAR)), 'year' ];
	else if (offset < (DECADE * 100))  span = [ Math.round(Math.abs(offset / DECADE)), 'decade' ];
	else                               span = [ '', 'a long time' ];
 
	span[1] += (span[0] === 0 || span[0] > 1) ? 's' : '';
	span = span.join(' ');
 
	return (time <= local)  ? span + ' ago' : 'in ' + span;
};

%>

</head>

<body>
	
	<% active = 'summoner' %>
	<% include navbar.html %>
	
	<div class="container text-center">
		
		<img class="center img-responsive" src="/image/banner/euw/<%= summoner.name %>" />
		<div class="banner-url center">
			<label for="banner-url">Image URL</label><input id="banner-url" type="text" value="http://lolfire.com/image/banner/euw/<%= summoner.name %>" class="form-control" onclick="this.select();" readonly="readonly">
		</div>

	</div>
	<br>
	<div class="table-responsive">
	<table class="table table-bordered">
		<tr>
	    	<th>Pick</th>
	    	<th>Spells</th>
	    	<th>Build</th>
	    	<th>Kills</th>
	    	<th>Deaths</th>
	    	<th>Assists</th>
	    	<th>Gold</th>
	    	<th>Minions</th>
	    	<th>Time</th>
	    	<th>Mode</th>
	    	<th>Type</th>
		</tr>

		<% games.games.forEach(function (game){ %>
			
			<% win = 'active'; loss = 'danger' %>

			<tr class=" <%= (game.stats.win) ? 'success' : 'danger' %>">
				<td><img src="/static/champions/<%= game.championId %>_32.png" alt=""></td>
				<td><img width="32" src="http://lkimg.zamimg.com/images/spells/<%= game.spell1%>.png" alt=""><img width="32" src="http://lkimg.zamimg.com/images/spells/<%= game.spell2%>.png" alt=""></td>
				<td><% if(game.stats.item0){ %> <img src="http://lkimg.zamimg.com/shared/riot/images/items/<%= game.stats.item0 %>_32.png" alt=""> <% } %><% if(game.stats.item1){ %> <img src="http://lkimg.zamimg.com/shared/riot/images/items/<%= game.stats.item1 %>_32.png" alt=""> <% } %><% if(game.stats.item2){ %> <img src="http://lkimg.zamimg.com/shared/riot/images/items/<%= game.stats.item2 %>_32.png" alt=""> <% } %><% if(game.stats.item3){ %> <img src="http://lkimg.zamimg.com/shared/riot/images/items/<%= game.stats.item3 %>_32.png" alt=""> <% } %><% if(game.stats.item4){ %> <img src="http://lkimg.zamimg.com/shared/riot/images/items/<%= game.stats.item4 %>_32.png" alt=""> <% } %><% if(game.stats.item5){ %> <img src="http://lkimg.zamimg.com/shared/riot/images/items/<%= game.stats.item5 %>_32.png" alt=""> <% } %><% if(game.stats.item6){ %> <img src="http://lkimg.zamimg.com/shared/riot/images/items/<%= game.stats.item6 %>_32.png" alt=""> <% } %></td>
				<td><%= game.stats.championsKilled %></td>
				<td><%= game.stats.numDeaths %></td>
				<td><%= game.stats.assists %></td>
				<td><%= game.stats.goldEarned %></td>
				<td><%= game.stats.minionsKilled %></td>
				<td><%= timeAgo(game.createDate) %></td>
				<td><%= gamemode[game.gameMode] %></td>
				<td><%= gamesubtype[game.subType] %></td>
			</tr>


		<%	}) %>
	
	</table>
	</div>


</body>
</html>
